:root {
    --primary-color: #ec1f55;
    --text-color: #333;
  }
.darkmode {
    --primary-color: #1ed760;
    --text-color: white;
}
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    border: 0;
  }

   /* dark mode */
   .darkmode {
    background-color: #222;
  }

  .darkmode .dashboard {
    background-color: #222;
    color: white;
  }
  
  .darkmode header h2 {
    color: white;
  }
  .darkmode .btn-volume i {
    color: white;
  }

  
  body {
    background-color: #f5f5f5;
  }
  
  html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  .player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
  }
  
  .player .icon-pause {
    display: none;
  }
  
  .player.playing .icon-pause {
    display: inline-block;
  }
  
  .player.playing .icon-play {
    display: none;
  }
  
  .dashboard {
    padding: 16px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #ebebeb;
  }
  
  /* HEADER */
  header {
    margin-bottom: 10px;
  }
  
  header h4 {
    color: var(--primary-color);
    font-size: 14px;
  }
  .form-control  {
    padding: 0.6rem 1.2rem !important;
  }
  .input-group {
    color: lightgrey;
  }
  
  header h2 {
    color: var(--primary-color);
    font-size: 22px;
    text-align: center;

  }

  .player-heading {
    display: flex;
    justify-content: space-between;
    padding-right: 20px ;
    padding-left: 10px;
  }
  
  .form-check {
    margin-top: 8px;
  }
  .btn-volume {
    margin-top: auto;
  }
  h4 {
    margin-top: auto;
  }
  /* CD */
  .cd {
    display: flex;
    margin: auto;
    width: 200px;
  }
  .input-group {
    margin-top: 10px;
  }
  .cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
  }
  
  /* CONTROL */
  .control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 4px;
  }

  .btn {
    border: none;
  }
  .btn-volume i {
    width: 20px;
    height: 24px;
  }

  .btn-volume i:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  .control .btn {
    padding: 18px;
    font-size: 18px;
    border: none;
    color: var(--text-color);
  }

  .player-heading .btn-volume {
    border: none;
  }
  .player .fa-volume-xmark {
    display: none;
  }

  .player .mute .fa-volume-high {
    display: none;
  }
  
  .player .mute .fa-volume-xmark{
    display: inline-block;
  }
  
  .control .btn.active {
    color: var(--primary-color);
  }
  
  .control .btn-toggle-play {
    width: 56px;
    height: 56px;
    font-size: 25px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    border-radius: 50%;

  }
  
  .progress {
    width: 100%;
    /* -webkit-appearance: none; */
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }
  
  .progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
  }
  
  /* PLAYLIST */
  .playlist {
    margin-top: 470px;
    padding: 12px;
  }
  
  .song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  }
  
  .song.active {
    background-color: var(--primary-color);
  }
  
  .song:active {
    opacity: 0.8;
  }
  
  /* ACTIVE */
  .song.active .option,
  .song.active .author,
  .song.active .title {
    color: #fff;

  }
  
  .song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
  }
  
  .song .body {
    padding: 0 16px;
    flex:1 ;
  }
  
  .song .title {
    font-size: 18px;
    color: #333;
  }
  
  .song .author {
    font-size: 12px;
    color: #999;
  }
  
  .song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 16px;
  }

 